#Armor Pos
enemy=RED  #RED

#Log
log_folder=log/

#Sensor
source=test.avi#test.avi # hiki camera or video file path
port=/dev/ttyACM0 # None(no serial) or port path
imu=UART # Enter UART or BMI
flip=0 # 1 to flip input image
latency=100 # Average total latency from PC to yaw action complete (in ms)

#Detect
model=asset/fuck_cnn.onnx

#Predict
camera_para=asset/cam_param_sentry.yml

#Display
cboard_debug=false
cboard_show=false

sensor_debug=false
sensor_show=false

detect_debug=false
detect_show=true

predic_debug=true
predic_show=false

foxglove_server_debug=true
foxglove_server_show=false