#Armor Pos
enemy=RED  #RED
light_threshold=155 #BLUE 150 #RED
dark_threshold=100

#Robot_ID
robot_id=1 #1:hero  2:doubleshoot   3:infantry    4:aerial    5:sentry 

#NetInfo
model=asset/model-opt-4.onnx

#Input
source=0 #data/red_armor1.avi # hiki camera or video file path

#Serial
port=/dev/ttyTHS1 #/dev/ttyUSB1 # None(no serial) or port path

#IMU
imu=UART

#Log
log_folder=log/

#Display
close_all=false
sensor_debug=false
detect_debug=false
predic_debug=true
sensor_show=false
detect_show=false
predic_show=false





