#Armor Pos
enemy=RED  #RED

#Log
log_folder=log/

#Sensor
source=0#test.avi#test.avi # hiki camera or video file path
port=/dev/ttyS4#/dev/ttyAIM # None(use MockDriver for testing) or port path like /dev/ttyACM0
imu=UART # Enter UART or BMI,(only UART supported now)
flip=0 # 1 to flip input image
latency=15 # Average total latency from PC to yaw action complete (in ms)
shoot_latency=65 # (in ms), shoot frequency of continous shoot #38

#Detect
model=asset/compiled.axmodel

#Predict
camera_para=asset/cam_param_16mm.yml
pitch_comp=0.013
yaw_comp=0.0
disable_vehicle_center_shoot_mode=true

#Display
timed_serial_debug=false
timed_serial_filelog=false
timed_serial_show=false

sensor_debug=false
sensor_filelog=false
sensor_show=false

detect_debug=false
detect_filelog=false
detect_show=false

predic_debug=false
predic_filelog=false
predic_show=false

foxglove_server_debug=false
foxglove_server_filelog=false
foxglove_server_show=false

predic_plot=true

detect_adjust=false
predic_adjust=false
transformer_adjust=false
